:root {
  --text-color: white;
  --light-color: white;
  --dark-color: black;
  --custom-shadow:
    0.2rem 0.2rem 0.1rem black,
    0.3rem 0.3rem 0.1rem white;
  --number-bg-color: purple;
  --card-bg: rgba(0, 0, 0, 0.705);
  --picked-number-bg: rgba(44, 33, 44, 0.555);
}

/*** Common Styles ***/

body,
.container,
.player,
.scoreboard,
.picked-number,
.number {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}

.container,
.scoreboard,
.player {
  flex-direction: column;
}

/*** Nested styles ***/
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: url("../assets/neon-wall.jpg") top  center no-repeat;

  & .player {
    width: 20rem;
    height: 20rem;

    & .card {
      display: grid;
      grid-template-columns: repeat(5, 3rem);
      column-gap: 1rem;
      row-gap: 1rem;
      padding: 1rem;
      background: var(--card-bg);
      border-radius: 2rem;
      box-shadow: var(--custom-shadow);

      & .number {
        font-size: 2rem;
        text-align: center;
        height: 3rem;
        width: 3rem;
        font-weight: bold;
        background: var(--number-bg-color);
        border-radius: 50%;
        box-shadow: var(--custom-shadow);
      }
    }
  }

  & .picked-number {
    width: 8rem;
    height: 8rem;
    font-size: 6rem;
    font-weight: bold;
    border-radius: 50%;
    margin: 0 4rem;
    background: var(--picked-number-bg);
    box-shadow: var(--custom-shadow);
  }

  & button {
    margin: 0.5rem;
    font-size: 1.2rem;
    border-radius: 2rem;
    border: 0.15rem dotted var(--text-color);
    box-shadow: var(--custom-shadow);
    background: var(--card-bg);
    color: var(--text-color);
  }

  & button:hover {
    background: rgba(49, 47, 47, 0.705);
  }

  & button:disabled {
    background: rgba(0, 0, 0, 0.2);
  }

  @media (min-width: 900px) {
    & .container {
      flex-direction: row;
    }
  }
}

.hidden {
  visibility: hidden;
}

.line-through {
  text-decoration: line-through;
  color: var(--dark-color);
}
